<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Reset Password</title>
</head>
<body>

     <!-- Navigation Bar -->
    <nav>
        <div class="nav-container">
            <!-- Logo on the left side -->
        <a href="#" onclick="checkAccess(event)" class="logo">
            <img src="/static/images/logo.jpg" alt="Logo" class="nav-logo">
        </a>
        <!-- Navigation items in the center -->
        <div class="nav-items">
            <a href="/login" class="nav-item">Login</a>
            <a href="#" onclick="checkAccess(event)" class="nav-item">Explore Music</a>
        </div>
        </div>
    </nav>

    <!-- Main container for dynamic content -->
    <div id="formContainer">
        <h2>Reset Password</h2>
        <form id="usernameForm">
            <input type="text" id="usernameInput" placeholder="Enter your username" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="message"></div>



    <script src="/static/resetPassword.js"></script>
     <footer class="site-footer">
        <div class="footer-container">
            <p>© 2024 Moodify. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
